body 
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d3645;  
}    
header, footer
{
  background-color: #5791b4;
  color: #fff;
  padding: 20px;
  margin: 10px;  
  text-align: center;
  border-radius: 15px;
}
nav {
  background-color: #3580BB;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding-right: 5px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: #b640c8;
  background-color: #ddd;
}
section, aside 
{color: #ddd;
  padding: 20px;
  margin: 10px;
  background-color: #5791b4;
  border: 1px solid #282957;
  border-radius: 15px;
  text-align: center;
}    

form
{
  max-width: 388px;
  margin: auto;
  margin-bottom: 70px;
}

input[type="submit"] 
{
background-color: #4CAF50;
border: none; 
color:white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
float: right;
}

input[type="submit"]:hover {
  background-color: #3580BB; 
  color: #fff; 
}

input[type="text"], input[type="email"], textarea 
{
padding: 5px;
margin: 5px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
width: 378px;
}

label 
{
display: block;
font-weight: bold;
margin-top: 10px;
margin-bottom: 5px;
}

.booklist-button {
  background-color: #1cb342 ; 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 25px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}

.booklist-button:hover {
  background-color: #3580BB; 
  color: #e1e1e1; 
}
.centered-section {
  text-align: center;
  padding-top: 20px;
}
table,th,td 
{
  border : 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th,td 
{
  padding: 5px;
  text-align: center;
}


div {
  border: 5px solid #3580BB;
  padding:10px;
  border-radius: 15px;
  }
  
  .grid-container {
    display: grid;
  gap: 10px;
  }
  
  .grid-item {
  text-align: center;
  }
  
  .grid-item img {
  max-width: 100%;
  height: auto;
  }
@media screen and (max-width: 700px) {
 nav {
  flex-direction: column;
  }
  nav a{
    padding: 10px 0;
  }
  }

@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
     
    }
    
    @media screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    }